{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_coursectrl/ajax_loading

    Spinner shown inside a modal or panel body while an AJAX request is in progress.

    Context variables:
    - none required

    Example context (JSON):
    {}
}}
<div class="text-center py-3" data-region="local-coursectrl-ajax-loading">
    <div class="spinner-border spinner-border-sm text-primary" role="status">
        <span class="visually-hidden">{{#str}}loading, core{{/str}}</span>
    </div>
</div>
