{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_coursectrl/ajax_error

    Error message shown inside a modal or panel when an AJAX call fails.

    Context variables:
    - message (string) Error message text (will be HTML-escaped by Mustache).

    Example context (JSON):
    {
        "message": "An error occurred while loading data."
    }
}}
<div class="alert alert-danger py-2 small" data-region="local-coursectrl-ajax-error" role="alert">
    {{message}}
</div>
